html, body {
  min-width: 1200px;
  margin: 0;
  padding: 0;

  font-size: 16px;
  font-family: "Roboto", "Arial", sans-serif;
  line-height: 24px;
  font-weight: 400;
  color: #283136; 

  background-color: #ffffff;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

.visually-hidden {
  display: none;
}

.main-header {
  padding-top: 50px;

  background-color: #eeeeee;
}

.main-header .page-title {
  padding-top: 80px;
  padding-bottom: 105px;

  text-align: center;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.main-navigation {
  display: flex;
  align-items: center;

  width: 1160px;
  padding: 0 20px;
}

.site-navigation {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  margin-right: 245px;
  width: 440px;
}

.cart {
  margin: 0;
  padding: 0;
  width: 115px;

  text-align: right;
}

.main-navigation a {
  font-size: 16px;
  line-height: 30px;
  color: #000000;
  font-weight: 500;
  text-transform: uppercase;
}

.main-navigation a:hover,
.main-navigation a:focus {
  color: #fb565a;
}

.main-navigation a:active {
  color: rgba(0, 0, 0, 0.3)
}

.current-site-navigation a {
  border-bottom: 2px solid #fb565a;
}

.current-site-navigation a:hover {
  color: #000000;
}

.main-header-logo {
  width: 160px;
  height: 65px;
  margin-right: 200px;
}

.main-header-logo img:hover,
.main-header-logo img:focus {
  opacity: 0.8;
}

.main-header-logo img:active {
  opacity: 0.3;
}

.slider {
  width: 1160px;
  margin-bottom: 80px;
  padding: 0 20px;
}

.slider-list {
  margin: 0;
  padding: 0;
}

li.hide-slide {
  display: none;
}

.slider-item {
  display: flex;

}

.slide-description {
  width: 380px;
  margin-right: 55px;
}

.button {
  font: inherit;
  line-height: 18px;
  font-weight: 500;
  color: #ffffff;
  text-align: center;
  vertical-align: middle;
  text-transform: uppercase;

  background-color: #fb565a;
  border: 0;
  border-radius: 1px;
}

.button:hover,
.button:focus {
  background-color: #e74246;
}

.button:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #d7373b;
  box-shadow: inset 0 3px 0 rgba(0, 0, 0, 0.1);
}

.slider-title,
.page-title {
  margin: 0;
  padding: 0;
  font-size: 55px;
  line-height: 55px;
  color: #000000;
  font-weight: 500;
}

.slider-title {
  padding-top: 75px;
}

.index-columns {
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
  margin-top: 40px;
  margin-bottom: 77px;
}

.inner-page-columns {
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
  margin-top: 55px;
}

.filter {
  width: 260px;
}

.catalog {
  width: 760px;
}

.catalog-sorter {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  margin-bottom: 55px;
}

.catalog-sorter-title {
  margin-right: auto;

  font-size: 18px;
  font-weight: 700;
  line-height: 18px;
  text-transform: uppercase;
}

.catalog-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  margin-bottom: 60px;
}

.catalog-item {
  width: 360px;
  min-height: 616px;
  margin-bottom: 33px;
}

.filter-fieldset {
  border: none;
}

.filter-form ul {
  line-height: 20px;
}

.filter-fieldset-legend {
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  text-transform: uppercase;
}

.range-output-input output,
input[type="range"] {
  background-color: #eeeeee;
}

.range-output-input label {
  text-transform: uppercase;
}

.filter-input:hover + label,
.filter-input:focus + label {
  color: #000000;
}

.filter-input:disabled + label {
  color: rgba(40, 49, 54, 0.3);
}

.filter-button {
  color: #000000;

  background-color: #eeeeee;
}

.filter-button:hover,
.filter-button:focus {
  background-color: #dfdfdf;
}

.filter-button:active {
  color: rgba(0, 0, 0, 0.3);
  background-color: #d5d5d5;
}

.sorting-button {
  font-size: 14px;
  line-height: 18px;
  color: rgba(0, 0, 0, 0.3);
  text-transform: uppercase;
}

.sorting-button:hover,
.sorting-button:focus {
  color: rgba(0, 0, 0, 0.6);
}

.sorting-button:active,
.active-sorting {
  color: rgba(0, 0, 0, 1);
}

.services {
  margin-bottom: 80px;
  padding-left: 20px;
}

.services-list {
  display: flex;

  margin: 0;
  padding: 0;
}

.services-list-item {
  width: 300px;
  text-align: left;
  margin-right: 100px;
}

.services-list-item:last-child {
  margin-right: 0;
}

.services-list-item h3 {
  font-size: 24px;
  line-height: 30px;
  color: #000000;
  font-weight: 700;
  text-transform: uppercase;
}

.button-green {
  background-color: #00ca74;
}

.button-green:hover,
.button-green:focus {
  background-color: #00bc6c;
}

.button-green:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #00aa62;
  box-shadow: inset 0 3px 0 rgba(0, 0, 0, 0.1);
}

.button-yellow {
  background-color: #efc84a;
}

.button-yellow:hover,
.button-yellow:focus {
  background-color: #eab534;
}

.button-yellow:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #e5a722;
  box-shadow: inset 0 3px 0 rgba(0, 0, 0, 0.1);
}

.index-columns {
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
  margin-top: 40px;
  margin-bottom: 77px;
}

.about-us {
  width: 660px;
}

.features {
  width: 360px;
}

.catalog-item:hover {
  box-shadow: 0 6px 15px 0 rgba(0, 1, 1, 0.25);
}

.catalog-item-hover {
  display: none;

  background-color: #eeeeee;
}

.catalog-item-title a {
  font-size: 18px;
  line-height: 30px;
  color: #000000;
  font-weight: 700;
  text-transform: uppercase;
}

.catalog-item-hover p {
  font-size: 16px;
  line-height: 18px;
  color: #666666;
  font-weight: 400;
}

.catalog-item:hover .catalog-item-hover {
  display: inline-block;
}

.about-us-title b {
  font-size: 45px;
  line-height: 45px;
  color: #000000;
  font-weight: 500;
}

.about-features-lesser-title b {
  font-weight: 700;
  text-transform: uppercase;
}

.features-table td {
  line-height: 18px;
}

.features-table-row-percents td {
  font-size: 45px;
  line-height: 10.6px;
  color: #000000;
  font-weight: 700;
}

hr {
  width: 100%;
  height: 2px;
  color: #eeeeee;
  opacity: 0.2;
}

.partners {
  margin: 45px 0;
}

.partners-list {
  display: flex;
  justify-content: space-around;
  align-items: center;

  margin: 0;
  padding: 0;
}

.partners-list-item img {
  opacity: 0.2;
}

.partners-list-item img:hover,
.partners-list-item img:focus {
  opacity: 1;
}

.partners-list-item img:active {
  opacity: 0.1;
}

.pagination-list {
  margin: 0;
  padding: 0;
}

.pagination-item a {
  font-size: 16px;
  line-height: 18px;
  color: #000000;
  text-align: center;
  vertical-align: middle;

  background-color: #eeeeee;
  border: 0;
  border-radius: 1px;
}

.pagination-item a:hover,
.pagination-item a:focus {
  background-color: #dfdfdf;
}

.pagination-item a:active {
  color: rgba(255, 255, 255, 0.3);

  background-color: #d5d5d5;
  box-shadow: inset 0 3px 0 rgba(0, 0, 0, 0.1);
}

.pagination-item-current a,
.pagination-item-current a:hover {
  background-color: #ffffff;
  border: 2px solid #dbdbdb;
}

.main-footer {
  margin-top: 80px;
  margin-bottom: 70px;
  padding: 0;
}

.contacts-information {
  width: 319px;
  height: 308px;
}

.contacts-information {
  background-color: #ffffff;
}

.contacts-information p {
  line-height: 18px;
  color: #666666;
}

.footer-interactive-map {
  display: flex;
  justify-content: center;
}

.map-marker {
  width: 231px;
  height: 190px;
}

.contacts-information b {
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
}

.footer-social {
  margin-top: 80px;
}

.footer-social-container {
  display: flex;
}

.social-links-list {
  margin: 0;
  padding: 0;
  width: 260px;
  margin-right: 140px;
}

.social-special-offer {
  margin: 0;
  padding: 0;
  width: 560px;
  margin-right: auto;

  font-size: 16px;
  line-height: 22px;
  color: #444444;
}

.social-special-offer b {
  font-size: 36px;
  line-height: 36px;
  font-weight: 700;
  color: #000000;
}

.modal-write-us {
  display: none;
  
  line-height: 18px;
  font-weight: 700;
  color: #000000;

  background-color: #ffffff;
  box-shadow: 0 20px 40px 0 rgba(0, 0, 0, 0.75);
}

.modal-write-us h2 {
  font-size: 45px;
  line-height: 45px;
  font-weight: 500;
}

.write-us-form input,
.write-us-form textarea {
  font: inherit;
  color: rgba(68, 68, 68, 0.5);
  font-weight: 400;

  background-color: #ffffff;
  border: 2px solid #d7dcde;
  border-radius: 1px;
}

.write-us-form input:hover,
.write-us-form textarea:hover {
  color: rgba(68, 68, 68, 0.5);
  border-color: #b4b9bb;
}

.write-us-form input:focus,
.write-us-form textarea:focus {
  color: rgba(68, 68, 68, 1);
  border-color: #000000;
}

.write-us-form input:invalid,
.write-us-form textarea:invalid {
  color: #e74246;
  border-color: #e74246;
}

.modal-write-us-buton {
  font-weight: 400;
}

