html, body {
  min-width: 1200px;
  margin: 0;
  padding: 0;

  font-size: 16px;
  font-family: "Roboto", "Arial", sans-serif;
  line-height: 24px;
  font-weight: 400;
  color: #283136; 

  background-color: #ffffff;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.main-header {
  padding-top: 50px;

  background-color: #eeeeee;
}

.main-header .page-title {
  padding-top: 78px;
  padding-bottom: 108px;

  text-align: center;
}

.container {
  width: 1160px;
  margin: 0 auto;
  padding: 0 20px;
}

.main-navigation {
  display: flex;
  justify-content: space-between;

  width: 100%;
}

.site-navigation {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0;
  padding: 0;
  width: 640px;
}

.cart {
  position: relative;

  display: flex;
  justify-content: flex-end;
  margin: 0;
  padding: 0;
  width: 115px;
}

.cart-link::before {
  content: "";

  position: absolute;
  top: 32px;
  left: 0px;
  width: 15px;
  height: 15px;

  background-image: url("../img/cart-icon.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.site-navigation a,
.cart a {
  display: block;
  vertical-align: middle;
  padding-top: 25px;
  padding-bottom: 4px;

  font-size: 16px;
  line-height: 30px;
  color: #000000;
  font-weight: 500;
  text-transform: uppercase;
}

.site-navigation a {
  margin-right: 45px;
}

.site-navigation a:hover,
.cart a:hover,
.site-navigation a:focus,
.cart a:focus {
  color: #fb565a;
}

.site-navigation a:active,
.cart a:active {
  color: rgba(0, 0, 0, 0.3)
}

.current-site-navigation a {
  border-bottom: 2px solid #fb565a;
}

.current-site-navigation a:hover {
  color: #000000;
}

.main-header-logo {
  width: 160px;
  height: 65px;
}

.main-header-logo img:hover,
.main-header-logo img:focus {
  opacity: 0.8;
}

.main-header-logo img:active {
  opacity: 0.3;
}

.slider {
  margin-bottom: 80px;
}

.slider-list {
  margin: 0;
  padding: 0;
}

li.hide-slide {
  display: none;
}

.slider-item {
  display: flex;
}

.slide-description {
  width: 380px;
  margin-right: 52px;
}

.slide-description p {
  margin: 0;
  padding-top: 26px;
  padding-bottom: 40px;
}

.slider-image {
  padding-top: 17px;
}

.button {
  display: inline-block;
  padding: 16px 55px;

  font: inherit;
  line-height: 18px;
  font-weight: 500;
  color: #ffffff;
  text-align: center;
  vertical-align: middle;
  text-transform: uppercase;

  background-color: #fb565a;
  border: none;
  border-radius: 3px;
}

.button:hover,
.button:focus {
  background-color: #e74246;
}

.button:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #d7373b;
  box-shadow: inset 0 3px 0 rgba(0, 0, 0, 0.1);
}

.slider-title,
.page-title {
  margin: 0;
  padding: 0;
  font-size: 55px;
  line-height: 55px;
  color: #000000;
  font-weight: 500;
}

.slider-title {
  padding-top: 77px;
}

.filter {
  width: 260px;
}

.catalog {
  width: 760px;
}

.catalog-sorter {
  display: flex;
  align-items: center;
  margin-bottom: 55px;
}

.catalog-sorter-title {
  margin: 0;
  margin-top: 3px;
  margin-right: 265px;

  font-size: 18px;
  font-weight: 700;
  line-height: 18px;
  text-transform: uppercase;
}

.catalog-sorter .wrapper-type {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 280px;
  margin-right: 40px;
}

.catalog-sorter .wrapper-arrows {
  display: flex;
  justify-content: space-between;
  width: 40px;
}

.sorting-button {
  font-size: 14px;
  line-height: 18px;
  color: #000000;
  opacity: 0.3;
  text-transform: uppercase;
}

.sorting-button:hover,
.sorting-button:focus {
  opacity: 0.6;
}

.sorting-button:active,
.active-sorting {
  opacity: 1;
}

.filter-fieldset {
  border: none;
  padding: 0;
  margin-bottom: 38px;
}

.filter-form ul {
  line-height: 20px;
}

.filter-fieldset-legend {
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  text-transform: uppercase;
}

.range-filter {
  width: 260px;
}

.range-controls {
  position: relative;
  height: 80px;
  margin-top: 46px;
  margin-bottom: 18px;
  padding: 0 20px;
  overflow: hidden;

  background-color: #eeeeee;
  border-radius: 3px;
}

.range-controls .scale {
  height: 2px;
  margin-top: 39px;

  background-color: #d7dcde;
}

.range-controls .bar {
  height: 2px;

  background-color: #00ca74;
}

.range-controls .toggle {
  position: absolute;
  top: 30px;
  left: 20px;
  width: 4px;
  height: 4px;

  cursor: pointer;
  background-color: #ababab;
  border: 8px solid #ffffff;
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 #ababab;
}

.range-controls .max-toggle {
  left: 160px;
}

.range-wrap {
  position: relative;
  min-height: 132px;
}

.price-controls input {
  width: 60px;
  padding: 10px 16px;
  margin-left: 12px;

  font-family: "Roboto", "Arial", sans-serif;
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
  color: #283136;
  text-align:center;

  background-color: #eeeeee;
  border: none;
  border-radius: 3px;
}

.price-controls .min-price {
  position: absolute;
  left: 0;
  bottom: 0;
}

.price-controls .max-price {
  position: absolute;
  right: 0;
  bottom: 0;
}

.filter ul {
  margin: 0;
  padding: 0;
  margin-bottom: 10px;
  padding-left: 35px;
}

.filter-option {
  margin-top: 18px;
}

.filter-option label {
  position: relative;

}

.filter-input:hover + label,
.filter-input:focus + label {
  color: #000000;
}

.filter-input:disabled + label::before {
  opacity: 0.1;
}

.filter-input:disabled + label {
  color: rgba(40, 49, 54, 0.3);
}

.filter-radio + label::before {
  content: "";
  position: absolute;
  left: -35px;
  top: -4px;
  width: 25px;
  height: 25px;
  
  background-image: url("../img/radio-off.svg");
  background-repeat: no-repeat;
  background-position: 0 0;

  opacity: 0.4;
}

.filter-radio:checked + label::before {
  background-image: url("../img/radio-on.svg");
  background-repeat: no-repeat;
  background-position: 0 0;

  opacity: 0.4;
}

.filter-radio:not(:disabled):hover + label::before,
.filter-radio:not(:disabled):focus + label::before {
  opacity: 1;
}


.filter-checkbox + label::before {
  content: "";
  position: absolute;
  left: -35px;
  top: -2px;
  width: 27px;
  height: 24px;
  
  background-image: url("../img/checkbox-off.svg");
  background-repeat: no-repeat;
  background-position: 0 0;

  opacity: 0.4;
}

.filter-checkbox:checked + label::before {
  background-image: url("../img/checkbox-on.svg");
  background-repeat: no-repeat;
  background-position: 0 0;

  opacity: 0.4;
}

.filter-checkbox:not(:disabled):hover + label::before,
.filter-checkbox:not(:disabled):focus + label::before {
  opacity: 1;
}

.filter-button {
  margin-top: 6px;

  color: #000000;
  width: 100%;

  background-color: #eeeeee;
}

.filter-button:hover,
.filter-button:focus {
  background-color: #dfdfdf;
}

.filter-button:active {
  color: rgba(0, 0, 0, 0.3);
  background-color: #d5d5d5;
}

.services {
  position: relative;

  margin-bottom: 80px;
}

.services::after {
  content: "";
  position: absolute;
  bottom: -83px;
  left: 0;

  width: 1160px;
  height: 2px;

  background-image: linear-gradient(#eeeeee 100%, #eeeeee 100%);
}

.services-list {
  display: flex;
  margin: 0;
  padding: 0;
}

.services-list-item {
  width: 300px;
  margin-right: 100px;

  text-align: left;
}

.services-list-item:last-child {
  margin-right: 0;
}

.services-list-item h3 {
  margin: 0;
  padding-top: 19px;
  padding-bottom: 15px;

  font-size: 24px;
  line-height: 30px;
  color: #000000;
  font-weight: 700;
  text-transform: uppercase;
}

.services-list-item p {
  margin: 0;
  padding-bottom: 32px;
}

.services-list-item .button {
  padding: 16px 40px;
}

.button-green {
  background-color: #00ca74;
}

.button-green:hover,
.button-green:focus {
  background-color: #00bc6c;
}

.button-green:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #00aa62;
  box-shadow: inset 0 3px 0 rgba(0, 0, 0, 0.1);
}

.button-yellow {
  background-color: #efc84a;
}

.button-yellow:hover,
.button-yellow:focus {
  background-color: #eab534;
}

.button-yellow:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #e5a722;
  box-shadow: inset 0 3px 0 rgba(0, 0, 0, 0.1);
}

.catalog-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: stretch;
  margin: 0;
  padding: 0;
  margin-bottom: 24px;
}

.catalog-item {
  position: relative;
  width: 360px;

  padding-top: 38px;
  margin-bottom: 30px;
}

.catalog-item svg {
  position: absolute;
  top: 0;
  left: 0;
}

.catalog-item:hover {
  box-shadow: 0 6px 15px 0 rgba(0, 1, 1, 0.25);
}

.catalog-item-hover {
  display: none;
  height: 167px;

  padding-top: 27px;
  padding-bottom: 43px;
  padding-left: 60px;
  padding-right: 60px;

  text-align: center;

  background-color: #eeeeee;
}

.catalog-item-title {
  margin: 0;
  padding: 0;
  margin-bottom: 16px;
}

.catalog-item-title a {
  font-size: 18px;
  line-height: 30px;
  color: #000000;
  font-weight: 700;
  text-transform: uppercase;
}

.catalog-item-hover p {
  margin: 0;
  padding: 0;
  margin-bottom: 30px;

  font-size: 16px;
  line-height: 18px;
  color: #666666;
  font-weight: 400;
}

.catalog-item-button {
  padding: 15px 60px;
}

.catalog-item:hover .catalog-item-hover {
  display: block;
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: 1;
}

.catalog-item path {
  opacity: 0.12;
}

.catalog-item:hover path {
  opacity: 1;
}

.index-columns {
  display: flex;
  justify-content: space-between;
  padding-top: 40px;
}

.inner-page-columns {
  display: flex;
  justify-content: space-between;
  margin-top: 58px;
}

.about-us {
  width: 660px;
}

.features {
  width: 360px;
}

.about-us-title {
  padding-top: 20px;
}

.about-us-title b {
  font-size: 45px;
  line-height: 45px;
  color: #000000;
  font-weight: 500;
}

.about-us-description {
  margin: 0;
  padding: 0;
  margin-top: 33px;
  margin-bottom: 40px;
}

.about-us-services-list {
  margin: 0;
  padding: 0;

  margin-bottom: 73px;

  line-height: 45px;
}

.about-us-services-list li {
  position: relative;

  padding-left: 30px;
}

.about-us-services-list li::before {
  content: "";
  position: absolute;
  top: 22px;
  left: 0;

  width: 25px;
  height: 2px;

  background-image: linear-gradient(#fb565a 100%, #fb565a 100%);
}

.features img {
  margin-top: 2px;
}

.about-us-lesser-title {
  font-weight: 700;
  text-transform: uppercase;
}

.features .about-us-lesser-title {
  margin-top: 30px;
  padding-left: 18px;
}

.features-table {
  margin: 0;
  padding: 0;
  margin-top: 20px;
}

.features-table td {
  padding-top: 15px;

  line-height: 18px;
  text-align: left;
}

.features-table-row-percents td {
  width: 100px;
  height: 50px;

  font-size: 45px;
  line-height: 10.6px;
  color: #000000;
  font-weight: 700;
}

.sup {
  vertical-align: super;
  font-size: 24px;
}

.partners {
  margin: 45px 0;
  position: relative;
}

.partners::before,
.partners::after {
  content: "";
  position: absolute;

  width: 1160px;
  height: 2px;

  background-image: linear-gradient(#eeeeee 100%, #eeeeee 100%);
}

.partners::before{
  top: -50px;
  left: 0;
}

.partners::after {
  bottom: -35px;
  left: 0;
}

.partners-list {
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin: 0;
  padding: 0;
}

.partners-list-item {
  position: relative;

  display: flex;
  justify-content: center;
  align-items: center;
  width: 260px;
}

.partners-list-item:not(:last-child)::after {
  content: "";
  position: absolute;
  right: -20px;

  width: 2px;
  height: 52px;

  background-image: linear-gradient(#eeeeee 100%, #eeeeee 100%);
}

.partners-list-item img {
  opacity: 0.2;
}

.partners-list-item img:hover,
.partners-list-item img:focus {
  opacity: 1;
}

.partners-list-item img:active {
  opacity: 0.1;
}

.pagination-list {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
  width: 580px;
}

.pagination-item a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;

  color: #000000;
  font-weight: 500;
  text-transform: uppercase;

  background-color: #eeeeee;
  border: 0;
  border-radius: 3px;
}

.pagination-item {
  margin-right: 12px;
}

.pagination-item-next a {
  width: 260px; 
}

.pagination-item a:hover,
.pagination-item a:focus {
  background-color: #dfdfdf;
}

.pagination-item:not(.pagination-item-current) a:active {
  color: rgba(255, 255, 255, 0.3);

  background-color: #d5d5d5;
  box-shadow: inset 0 3px 0 rgba(0, 0, 0, 0.1);
}

.pagination-item-current a,
.pagination-item-current a:hover {
  width: 44px;
  height: 44px;

  background-color: #ffffff;
  border: 3px solid #dbdbdb;
}

.main-footer {
  margin-bottom: 70px;
  padding: 0;
  padding-top: 70px;
}

.inner-page-footer {
  padding-top: 60px;
}

.footer-contacts {
  position: relative;
}

.contacts-information {
  position: absolute;
  top: 54px;
  left: 180px;
  z-index: 1;

  width: 219px;
  height: 208px;
  padding: 50px;
  
  background-color: #ffffff;
}

.contacts-information p {
  margin: 0;
  padding: 0;
  padding-bottom: 42px;

  line-height: 18px;
  color: #666666;
}

p.contacts-information-title {
  padding-bottom: 20px;
}

.contacts-information .button {
  padding: 16px 44px;
}

.footer-interactive-map {
  display: flex;
  justify-content: center;
}

.map-marker {
  position: absolute;
  top: 89px;
  right: 430px;
  
  width: 231px;
  height: 190px;
}

.contacts-information b {
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
}

.footer-social {
  margin-top: 70px;
}

.footer-social-container {
  display: flex;
}

.social-links-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  width: 260px;
  margin-right: 120px;
}

.social-button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  width: 80px;
  height: 80px;

  border-radius: 50%;
  background-color: #e1e1e1;
}

.social-button:active path {
  fill: rgba(255, 255, 255, 0.3);
}

.social-special-offer {
  margin: 0;
  padding: 0;
  padding-left: 20px;
  width: 545px;
  margin-right: auto;

  font-size: 16px;
  line-height: 22px;
  color: #444444;
}

.social-special-offer p {
  margin: 0;
  padding: 0;
}

p.social-special-offer-title {
  padding-top: 5px;
  padding-bottom: 10px;

  font-size: 36px;
  line-height: 36px;
  font-weight: 700;
  color: #000000;
}

.modal-write-us {
  display: none;
  
  line-height: 18px;
  font-weight: 700;
  color: #000000;

  background-color: #ffffff;
  box-shadow: 0 20px 40px 0 rgba(0, 0, 0, 0.75);
}

.modal-write-us h2 {
  font-size: 45px;
  line-height: 45px;
  font-weight: 500;
}

.write-us-form input,
.write-us-form textarea {
  font: inherit;
  color: rgba(68, 68, 68, 0.5);
  font-weight: 400;

  background-color: #ffffff;
  border: 2px solid #d7dcde;
  border-radius: 1px;
}

.write-us-form input:hover,
.write-us-form textarea:hover {
  color: rgba(68, 68, 68, 0.5);
  border-color: #b4b9bb;
}

.write-us-form input:focus,
.write-us-form textarea:focus {
  color: rgba(68, 68, 68, 1);
  border-color: #000000;
}

.write-us-form input:invalid,
.write-us-form textarea:invalid {
  color: #e74246;
  border-color: #e74246;
}

.modal-write-us-buton {
  font-weight: 400;
}

