body {
  font-size: 16px;
  line-height: 24px;
  color: #283136;
  font-weight: normal;
  font-family: "Roboto", "Arial", sans-serif;
}

.slider-title {
  font-size: 55px;
  line-height: 55px;
  color: #000000;
  font-weight: medium;
}

.services-list-item h3 {
  font-size: 24px;
  line-height: 30px;
  color: #000000;
  font-weight: bold;
}   
